.contact {
    @include section;

    &__text {
        text-align: center;
        font-size: 3.5rem;
        font-weight: 400;
        transition: $hover-transition;

        & a {
            @include anchor-tag;
        }
    }

    &__social {
        width: 30%;
        margin: 0 auto;
        margin-top: 3rem;
        display: flex;
        justify-content: space-around;

        @media only screen and (max-width: $bp-large) {
            width: 50%;
        }

        @media only screen and (max-width: $bp-medium) {
            width: 60%;
        }

        @media only screen and (max-width: $bp-small) {
            width: 70%;
        }

        @media only screen and (max-width: $bp-tiny) {
            width: 90%;
        }

        &__icon {
            width: 3rem;
            transition: $hover-transition;

            &:hover {
                transform: scale(1.2);
            }

            &--mail {
                fill: $color-mail;
            }
    
            &--linkedin {
                fill: $color-linkedin;
            }
    
            &--github {
                fill: $color-github;
            }
    
            &--facebook {
                fill: $color-facebook;
            }
    
            &--instagram {
                fill: $color-instagram;
            }
        }
    }
}